.cards-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr); /* две равные колонки */
  gap: 10px;
   
  left: 0;
  text-align: left;
  margin: 0; 
  box-shadow: 0 4px 8px rgba(0, 242, 255, 0);
  border-radius: 50px;
  background-color: #ffffff00;
}
.cards-grid a {
  width: 100%;
  text-decoration: none;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.cards-grid a:hover {
  background-color: #ffe60039;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(107, 107, 107, 0.479); 
  /* transform: scale(1.1);
  transition: transform 0.5s ease;
  transform: scale(1.1); */

}
.card-grid-table {
  display: grid;
  width: 10%;
  grid-template-columns: repeat(2, 1fr); /* две равные колонки */
  gap: 5px; 
  margin: 0 auto; /* центрирование */
  box-shadow: 0 4px 8px rgba(1, 242, 255, 0);
  background-color: #ffffff00;
}
.card-grid-table img {
  left: 0;
  
}

@media (max-width: 800px) {
.cards-grid {
    max-width: 300px;
    width: 90%;
    max-width: 90%;
    flex: 1 1 100%;
    grid-template-columns: 1fr !important;
  }

.cards-hed {
    max-width: 20px;
    width: 90%;
    max-width: 90%;
    padding: 0px;
    flex: 1 1 100%;
    grid-template-columns: repeat(1, 1fr);
}
.gov-service-container {
  grid-template-columns: repeat(1, 1fr);
  width: 90% !important;
  max-width: 90% !important;
  padding: 10px !important;
}
.card-grid {
   grid-template-columns:  1fr !important;
   align-items: center;
   text-align: center;
   gap: 15px !important;
   width: 100%;
    
}
.right-panel {
  display: none !important;
}
.main-layout {
  align-items: center;
  text-align: center;
  /* grid-template-columns: 9fr 30fr;  */
  
}
.main-title {
  font-size: 26px !important;
}
.service-card {
  width: 100% !important; 
  padding: 0px !important;
  margin: 0 auto !important;
  text-align: center !important;
  align-items: center !important;
}

}
.gov-service-container {
    width: 95%; /* Общая ширина блока */
    background: #fff;
    padding: 15px;
    border-radius: 24px;
    border: 2px solid #0000008f;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.258);
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 90%;
    text-decoration: none !important;
}
.main-title {
  font-size: 50px;
  margin: 20px auto;

}
.main-layout {
    display: grid;
    /* Теперь контейнер делится на 2 части: 60% слева и 40% справа */
    /* grid-template-columns: 10fr ;  */
    gap: 15px; 
    margin-bottom: 25px; /* Отступ до нижних кнопок */
    text-decoration: none !important;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Сетка 2x2 внутри левой части */
    gap: 50px; 
    
    margin: 9px auto;
    padding: 0;
}

/* Стили правой панели */
.right-panel {
    background: #fff8f500; /* Цвет фона, как на картинке */
    border-radius: 12px;
    display: none;
    width: 20%;
    align-items: center;
    justify-content: center;
    min-height: 20px; /* Высота равна высоте 4 карточек */
}

.right-panel-icon {
    font-size: 80px;
    color: #ff583300; /* Цвет иконки (книжка) */
    opacity: 0.7;
}
.service-card {
 background: #fdfdfd; 
 padding: 15px; 
 border-radius: 12px; 
 border: 1px solid #000000; 
 
 flex-direction: column; 
 justify-content: space-between; 
 width: 90%;  
 align-items: center;
 text-align: center;
 text-decoration: none !important;
}
.gov-service-container a {
  text-decoration: none !important;
}
.service-card:hover {
  background-color: #338bff2e !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.348);

}
.card-icon {   
 font-size: 24px; 
 margin-bottom: 10px; 
 background: #ffe5e000; 
 width: 50px; 
 height: 40px; 
 border-radius: 50%; 
 display: flex; 
 margin: 5px auto;
 align-items: center; 
 justify-content: center; 
 color: #ff5733; }
.service-card p { 
  margin: 0; 
  font-size: 30px; 
  color: #000000; 
  height: 70px;
  line-height: 1.2; 
  align-items: center;
  text-decoration: none;
}

.card-weather-text {
  text-decoration: none !important;
}