.container-glavnaya {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 10px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.384);
    /* Пример "свежего" градиента 2026 */
    color: #03a3ff;

    
}
.content-glavnaya {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#121415
    }
.container-one {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color: #00a9f2 
}  
.content-one {
    font-size: 23px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, sans-serif;
    text-align: left;
    margin-bottom: 20px; /* отступ снизу между абзацами */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7c7c7c;
}
.content-one-novosty {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, sans-serif;
    font-size: 160px !important;
    text-align: left;
    text-indent: 20px;
    margin-bottom: 20px; /* отступ снизу между абзацами */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;         /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#666666  ; 
    line-height: 9; 
} 
.progress-container {
    position: fixed; /* Фиксируем сверху */
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Сделайте чуть толще для теста */
    background: rgba(200, 200, 200, 0.2); /* Еле заметный фон */
    z-index: 9999; /* Выводим на самый передний план */
}

.progress-bar {
    height: 100%;
    background: #04AA6D; /* Яркий цвет */
    width: 0%; /* Начальная ширина */
    transition: width 0.1s ease-out; /* Плавность */
}

.container-fact {
    width: 90%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 20px 20px 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#434460
}
.container-second {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
    
    
}
.content-second {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7f8182
    
}
.container-why {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
}
.content-why {
   
    width: 90%;
    max-width: 1000px;
    margin: 0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #5b5b5b00;
    color:#373737
}
.content-why2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #03c0ff84;
     background: linear-gradient(-550deg, #fffb00, #ff0000, #ff0000, #8d76ffab);
    background-size: 700% 400%;
    color:#373737
}
.content-why2 a {
  /* text-decoration: none; */
  text-decoration: underline;
  background-color: #cae5f400;
  color: #2600ff;
  box-shadow: #00fff2;

}
.content-why2 img {
  width: 100%;
}
.content-why a:hover {
  color: #ff0000;
}
.school {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 90%;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  text-align: center;
  color: #4f4f4f;
  max-width: 950px;
  background-color: #ffffffdb;
  text-align: left; 
}
.container h3 {
  margin-bottom: 20px;     /* Отступ снизу, чтобы отделить текст от изображения */
}
.container-holiday {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, Arial, sans-serif, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;          /* Центрирует контейнер по горизонтали */
    padding: 100px 0px 0px 0px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #ffffffdb;
    color:#00a9f2
}
.content-holiday {
    font-family: "Marck Script", cursive;
    width: 90%;
    max-width: 1000px;
    margin:0 auto ;          /* Центрирует контейнер по горизонтали */
    padding: 20px;
    text-align: center;      /* Центрирует текст и изображение внутри */
    box-sizing: border-box;
    background-color: #696f1b00;
    color:#7f8182;
    text-align: left;
}
@media (max-width: 800px) {
    .school {
    overflow-x: hidden;
    max-width: 100%;
    width: 200%;
    box-sizing: border-box;
    max-width: 100% !important;      /* не превышает ширину контейнера */
    table-layout: auto !important;   /* колонкам присваиваются ширины по содержимому */
    box-sizing: border-box !important;
    display: block;
    font-size: 10px;

  }
  
  .school td, .school th {
  word-break: break-word; /* перенос длинных слов */
  word-wrap: break-word;      /* перенос длинных слов */
  overflow-wrap: break-word;  /* современный аналог */
  word-break: break-word;     /* также помогает переносить длинные слова */
  white-space: normal;        
  padding: 3px; /* уменьшенные отст */
  }

  .container-glavnaya {
  padding: 70px 0px 0px 0px;
}
.container {
  padding: 30px 0px 0px 0px;
}
.container-fact {
  padding: 70px 10px 10px 10px;
 

}
.container-fact p {
  font-size: 17px;
  text-align: left;
  
}
.container-fact h1 {
  font-size: 20px;
  
}
.container-one {
  padding: 70px 0px 0px 0px;
}
.container-second {
  padding: 70px 0px 0px 0px;
}
.content-second {
  font-size: 14px;
}
.school {
  padding: 67px 0px 0px 0px;
}
.container-holiday {
  padding: 70px 0px 0px 0px;
}
.container-why {
  padding: 70px 0px 0px 0px;
  
}
.content-why {
  text-align: left;
  font-size: 12px;
}

}